body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('bg.webp') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .login-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
  }
  .login-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #6b6b6b;
    font-weight: normal;
  }
  .form-group {
    margin-bottom: 15px;
    position: relative;
  }
  .form-group input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
  }
  .form-group input:focus {
    border-color: #888;
  }
  .form-group .eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .login-btn {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
  }
  .login-btn:hover {
    background-color: #f0f0f0;
  }