<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SHE-SHG SginUp</title>
  <link rel="stylesheet" href="../static/login.css">
</head>
<body>
  <img class="sheFunds_img" src="../static/images/sheFunds.png" alt="SheFunds" width="80%">
  <div class="login-container">
    <!-- <h1>SHE-SHG</h1> -->
    <form action="./home.html">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" placeholder="Enter your username" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Enter your password" required>
      </div>
      <button type="submit" class="login-btn">SignUp</button>
    </form>
    <p class="signup-text">Already have an account? <a href="./login.html">Login</a></p>
  </div>

  <script src="../static/script.js"></script>
</body>
</html>
